<div class="container justify-content-center d-flex alignt-items-center">
  <div class="card mt-5 login-form">
    <div class="card-header">
      <div class="btn-group d-flex">
        <label class="btn btn-primary flex-grow-1" [(ngModel)]="authChoice" btnRadio="login" role="button">
          Log In
        </label>
        <label class="btn btn-primary flex-grow-1" [(ngModel)]="authChoice" btnRadio="register" role="button">
          Register
        </label>
      </div>
    </div>
    <div class="card-body" *ngIf="authChoice === 'login'; else authChoiceRegister">
      <form class="mb-3" [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control" formControlName="email"
          [ngClass]="{'is-invalid':!loginForm.get('email').valid && loginForm.get('email').dirty}">
          <div class="invalid-feedback d-block" *ngIf="loginForm.get('email').hasError('required')
          && loginForm.get('email').dirty">
            Email field required
          </div>
          <div class="invalid-feedback d-block" *ngIf="loginForm.get('email').hasError('email')
          && loginForm.get('email').dirty">
            Email is not in valid format
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" formControlName="password"
          [ngClass]="{'is-invalid':!loginForm.get('password').valid && loginForm.get('password').dirty}">
          <div class="invalid-feedback d-block" *ngIf="loginForm.get('password').hasError('required')
          && loginForm.get('password').dirty">
            Email field required
          </div>
          <div class="invalid-feedback d-block" *ngIf="loginForm.get('password').hasError('minlength')
          && loginForm.get('password').dirty">
            Password should be at least 6 characters long
          </div>
        </div>
        <button type="submit" class="btn btn-success w-100" [disabled]="!loginForm.valid">Log In</button>
      </form>
      <alert type="danger" *ngIf="loginFormError !== ''">
        {{loginFormError}}
      </alert>
    </div>
    <ng-template #authChoiceRegister>
      <div class="card-body">
        <form class="mb-3" [formGroup]="registerForm" (ngSubmit)="onSubmitRegisterForm()">
          <div class="form-group">
            <label for="register_email">Email</label>
            <input type="email" id="register_email" class="form-control" formControlName="email"
            [ngClass]="{'is-invalid':!registerForm.get('email').valid && registerForm.get('email').dirty}">
            <div class="invalid-feedback d-block" *ngIf="registerForm.get('email').hasError('required')
            && registerForm.get('email').dirty">
              Email field required
            </div>
            <div class="invalid-feedback d-block" *ngIf="registerForm.get('email').hasError('email')
            && registerForm.get('email').dirty">
              Email is not in valid format
            </div>
          </div>
          <div class="form-group">
            <label for="register_password">Password</label>
            <input type="password" id="register_password" class="form-control" formControlName="password"
            [ngClass]="{'is-invalid':!registerForm.get('password').valid && registerForm.get('password').dirty}">
            <div class="invalid-feedback d-block" *ngIf="registerForm.get('password').hasError('required')
            && registerForm.get('password').dirty">
              Email field required
            </div>
            <div class="invalid-feedback d-block" *ngIf="registerForm.get('password').hasError('minlength')
            && registerForm.get('password').dirty">
              Password should be at least 6 characters long
            </div>
          </div>
          <button type="submit" class="btn btn-success w-100" [disabled]="!registerForm.valid">Register</button>
        </form>
        <alert type="danger" *ngIf="registerFormError !== '' ">
          {{registerFormError}}
        </alert>
      </div>
    </ng-template>

    <div class="card-footer">
      <h5 class="card-title text-center mb-2">OR</h5>
      <button class="btn btn-warning w-100" (click)="loginWithOauth()">Login with Google</button>
    </div>
    <div class="card-footer">
      <h5 class="card-title text-center mb-2">OR</h5>
      <button class="btn btn-primary w-100" (click)="loginWithOauthFb()">Login with Facebook</button>
    </div>
  </div>
</div>
