<div class="card" (click)="redirect()">
    <img class="card-img-top" src="https://image.tmdb.org/t/p/w220_and_h330_face/{{movie.poster_path}}" alt="{{movie.title}}
    " appImgFallback>
        <button class="btn btn-success btn-add-to-watchlist" (click)="addToFavourites(); $event.stopPropagation()"><i class="fa fa-heart"></i></button>
        <button class="btn btn-warning btn-add-to-favourites" (click)="addToWatchlist(); $event.stopPropagation()"><i class="fa fa-sticky-note"></i></button>


  <div class="card-body">
      <div class="card-title">{{movie.title}}</div>
      <p class="card-text">{{movie.release_date}}</p>
    </div>
  </div>
